body {
    background-color: #f5f5f5;
}


/* CSS HEAD.PHP */

.color_primari {
    background-color: #78C2AD;
}


/* CSS INDEX.PHP */

#cos_index {
    margin-left: 10px;
    margin-right: 10px;
}

#panel {
    width: 620px;
    margin: auto;
}

#titol_index {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Courier New;
}

#buttons_index {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_index {
    align-self: center;
    margin-right: 6%;
    margin-left: 6%;
}


/*  CSS MENU.PHP */

.flex-container_categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container_categories>div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.flex-container_item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form {
    width: 100%;
}

.container_nom {
    width: 40%;
}

.container_preu {
    width: 10%;
}

.container_select {
    width: 50%;
}

.flex-container_menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.bold {
    font-weight: bold;
}

.div_menu {
    margin: 20px;
    border-radius: 25px;
    border: 2px solid #78C2AD;
    padding: 20px;
}

.progress {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 20px;
}

.tab-pane {
    margin-left: 30px;
}

.titol_menu {
    margin-bottom: 5px;
}

.menu_columna1 {
    width: 20%;
}

.menu_columna2 {
    width: 80%;
}

.nav-link {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #4cb69f;
}

.btn:hover {
    background-color: #4cb69f;
}

.nav-pills>a.nav-link.active {
    background-color: #4cb69f;
}


/*  CSS COMANDA.PHP */

#dades {
    margin-left: 20px;
    margin-right: 20px;
}

#dades_titol {
    border-bottom: solid grey 2px;
}

.form-group {
    margin-right: 80%;
}

.quantitat {
    text-align: center;
}

#comanda_header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid grey 2px;
}

.form-row {
    margin-bottom: 5px;
}

#avis_error {
    display: block;
}

#info_error {
    margin: 0px;
    padding: 0px;
}


/* CSS ERROR.PHP i CONFIRM.PHP */

#error {
    font-size: 10em;
    color: tomato;
}

.btn-error {
    background-color: tomato;
}

.btn-error:hover {
    background-color: tomato;
}

.card {
    text-align: center;
    width: 50rem;
    border: none;
}

.div_informar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#confirm {
    font-size: 10em;
    color: lightgreen;
}

.btn-confirm {
    background-color: lightgreen;
}

.btn-confirm:hover {
    background-color: lightgreen;
}

.div_final{
    margin-top: 5%;
}